<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dessert.ringring.mapper.BoardMapper">
	<!--게시글 생성-->
	<insert id="insertBoard" parameterType="com.dessert.ringring.domain.DTOBoard" useGeneratedKeys="true" keyProperty="idx">
			insert into board
			    (title,date,content,img,board_Type)
			value
			    (#{title},now(),#{content},IFNULL(#{img}, NULL),#{boardType})
	</insert>

	<!--게시글 조회-->
	<select id="selectBoardDetail" parameterType="long" resultType="com.dessert.ringring.domain.DTOBoard">
		SELECT*FROM board WHERE idx = #{idx}
	</select>

	<!--게시글 수정-->
	<update id="updateBoard" parameterType="com.dessert.ringring.domain.DTOBoard">
		UPDATE board
		SET
		  title = #{title}
		  , content = #{content}
		WHERE
			idx = #{idx}
	</update>

	<!--게시글 삭제-->
	<delete id="deleteBoard" parameterType="long">
		Delete from board
		WHERE
			idx = #{idx}
	</delete>

	<!--게시글 목록 조회-->
	<select id="selectBoardList" parameterType="String" resultType="com.dessert.ringring.domain.DTOBoard">
		SELECT * FROM board WHERE board_type = #{id}
		ORDER BY
		idx DESC,date DESC <!--desc는 내림차순.-->
	</select>

	<!--게시글 목록 조회 페이징-->

	<select id="countBoard" parameterType="String" resultType="int">
		SELECT count(*) FROM board WHERE board_type = #{id}
	</select>
</mapper>