<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dessert.ringring.mapper.GoodsMapper">

<!--	1.상품 등록-->
<insert id="insertGoods" parameterType="com.dessert.ringring.domain.DTOGoods" useGeneratedKeys="true" keyProperty="idx">
	insert into product 
		(name, price, stock, img,img_detail, short_detail, detail, weight, category1, category2)
		values 
		(#{name}, #{price}, #{stock}, IFNULL(#{img}, NULL),IFNULL(#{imgDetail}, NULL), IFNULL(#{shortDetail}, NULL), IFNULL(#{detail}, NULL)
		, #{weight}, #{category1}, #{category2})
</insert>
<!--	2.상품 개별 정보-->
<select id="getInfoGoods" resultType="com.dessert.ringring.domain.DTOGoods">
	SELECT * FROM product WHERE idx=#{idx}
</select>
<!--3.상품 리스트 가져오기-->
<select id="listGoods" parameterType="String" resultType="com.dessert.ringring.domain.DTOGoods">
	SELECT * FROM product
	<if test="category1!=null">
		WHERE category1=#{category1}
	</if>
	<if test="category2!=null">
		and category2=#{category2}
	</if>
	<if test="range!=null">
		ORDER BY
		<choose>
			<when test="range=='price'">price</when>
			<when test="range=='stock'">stock</when>
		</choose>
	</if>
	<if test="desc!=null">
		DESC
	</if>

</select>

<!--	4.등록된 상품 갯수-->
	<select id="selectBoardTotalCount" parameterType="com.dessert.ringring.domain.DTOGoods" resultType="int">
	SELECT count(*) from product
	</select>
<!--	5.상품수정-->
	<update id="updateGoods" parameterType="com.dessert.ringring.domain.DTOGoods">
	UPDATE product
	SET name =#{name}
	,price=#{price}
	,stock=#{stock}
	,short_detail=#{shortDetail}
	,detail=#{detail}
	,weight=#{weight}
	,category1=#{category1}
	,category2=#{category2}
	WHERE idx=#{idx}
	</update>
<!--	6.상품삭제-->
<delete id="deleteGoods" parameterType="com.dessert.ringring.domain.DTOGoods">
	DELETE FROM USER WHERE idx=#{idx}
</delete>
<!--	7.상품 검색-->
	<select id="searchGoods" resultType="com.dessert.ringring.domain.DTOGoods">
		select * from product where name LIKE CONCAT('%',#{param},'%')
	</select>
</mapper>