<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dessert.ringring.mapper.ReviewMapper">
    <!--리뷰 생성-->
    <insert id="insertReview" parameterType="com.dessert.ringring.domain.DTOReview" useGeneratedKeys="true" keyProperty="idx">
        insert into review
            (id,title,content,date,img,product_idx,do_secret,do_answer)
            value
            (#{id},#{title},#{content},now(),IFNULL(#{img}, NULL),#{productIdx},IFNULL(#{doSecret}, "no"),IFNULL(#{doAnswer}, "x"))
    </insert>

    <!--리뷰리스트조회(상품으로)-->
    <select id="selectReviewList" parameterType="long" resultType="com.dessert.ringring.domain.DTOReview">
        SELECT*FROM review
        WHERE product_idx=#{productIdx}
        ORDER BY
        idx DESC,
        date DESC<!--desc는 내림차순.-->
    </select>

    <!--리뷰리스트조회(아이디로)-->
    <select id="selectMyReviewList" parameterType="String" resultType="com.dessert.ringring.domain.DTOReview">
        SELECT*FROM review
        WHERE id=#{id}
        ORDER BY
        idx DESC,
        date DESC<!--desc는 내림차순.-->
    </select>

    <!--리뷰상세조회-->
    <select id="selectReviewDetail" parameterType="long" resultType="com.dessert.ringring.domain.DTOReview">
        SELECT *FROM review WHERE idx=#{idx}
    </select>
    <!--리뷰수정-->
    <update id="updateReview" parameterType="com.dessert.ringring.domain.DTOReview" >
        UPDATE review
        SET
            title = #{title}
          , content = #{content}
        ,img=IFNULL(#{img}, NULL)
        WHERE
            idx = #{idx}
    </update>

    <!--리뷰삭제-->
    <delete id="deleteReview" parameterType="long">
        DELETE from review
        where idx=#{idx}
    </delete>

</mapper>