@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Noto+Sans+KR:wght@300;500&display=swap');


/* 폰트 위계 */

/*font-family: 'Noto Sans KR', sans-serif;
font-family: 'Montserrat', sans-serif; */


*{
    padding: 0;
    margin: 0;
}
.tt{
    font-family: 'Noto Sans KR', sans-serif;
    color: rgb(60, 60, 60);
}
.st{
    color: rgb(161, 161, 161);
}
input{
    outline: 0;
}
button{
    /* border: 0; */
    outline: 0;
}
textarea{
    outline: 0;
}
select{
    outline: 0;
}
.status{
    background-color: #df404a;
    width: 100%;
    height: 2px;
    display: block;
}
/* =====sidebar전용 .select class============= */
.select{
    background-color: rgba(161, 161, 161, .2);
}
/* ==========sidebar : mycategory ============ */
.mycategory{
    width: 170px;
    position: absolute;
    /* top: 50px; */
    left: -200px;
}
.mycategory h3{
    font-size: 30px;
    font-weight: 400;
}
.mycategory ul{
    margin-top: 20px;
}
.mycategory li{
    list-style: none;
    border: 1px solid rgb(161, 161, 161);
    padding: 10px 20px;
    border-bottom: none;
}
.mycategory .last{
    border-bottom: 1px solid rgb(161, 161, 161);
}
.mycategory li a{
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    color: rgb(60, 60, 60);
    font-weight: 400;
}
/* ==============content==================== */
.content{
    width: 1000px;
    margin: 0 auto;
    position: relative;
    margin-top: 50px;
    margin-bottom: 100px;
}
/* ===.joinhead=== */
.joinhead h2{
    font-size: 20px;
    text-align: left;
    padding: 0;
    margin-bottom: 30px;
}
.joinform {
    margin: 30px auto;
}
.joinform tr td input{
    border: 1px solid rgb(161,161,161);
    margin-bottom: 25px;
}
.joinform #address1{
    width: 100px;
    margin-bottom: 5px;
}
.joinform .addressSearch{
    width: 180px;
    height: 46px;
    padding: 0;
}
.joinform #address2{
    width: 270px;
}
.joinform #address3{
    width: 230px;
}
/* ===수정하기 버튼=== */
.btn_secondary{
    color: white;
    font-size: 15px;
    font-weight: 300;
}