<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mypage_oderlist_section.css">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <div class="mycategory">
            <h3 class="tt">마이링링</h3>
            <ul>
                <li class="select"><a href="mypage_oderlist.html">주문 내역</a></li>
                <li><a href="">상품 후기</a></li>
                <li><a href="">적립금</a></li>
                <li><a href="">1:1 문의</a></li>
                <li class="last"><a href="">개인 정보 수정</a></li>
            </ul>
        </div>
        <!-- 주문내역 -->
        <div id="oderlist_section">
            <h3 class="tt">주문 내역 상세</h3>
            <div class="oder_item tt">
                <h3>주문번호 1601367137337</h3>
                <div class="status"></div>
                <div id="item">
                    <h4 class="tt">[미나하우스] 초희귀 케이크</h4>
                    <div class="item_se">
                        <img src="image/content4.jpg" alt="">
                        <div class="item_name">
                            <p>초희귀 케이크</p>
                            <p class="price_name">80,000원 1개 구매</p>
                        </div>
                        <p class="delivery">배송완료</p>
                        <div class="item_btn">
                            <!-- 장바구니 담기 버튼 삭제, 후기쓰기 링크 연결 -->
                            <button class="review_btn tt"><a href="mypage-review_write.html">후기쓰기</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
        <!--상품 취소 버튼 -->
        <div id="cancel_btn">
            <!-- 전체상품 다시 담기 버튼 삭제 -->
            <button class="all_cancel tt"><a href="">전체 상품 주문 취소</a></button>
        </div>
        <!-- 배송조회 -->
        <div id="delivery_lookup">
            <h3 class="tt">배송조회</h3>
            <div class="status"></div>
            <div class="delivery_ing tt">
                <!-- p 태그에서 img 태그로 바꿈 -->
                <img src="image/0.jpg" alt="">
            </div>
        </div>
        <!-- 결제정보 -->
        <div id="payment_info">
            <h3 class="tt">결제 정보</h3>
            <div class="status"></div>
            <div class="pay_info">
                <table class="tt">
                    <tr>
                        <td>총주문금액</td>
                        <td>80,000원</td>
                    </tr>
                    <tr>
                        <td>상품할인</td>
                        <td>0원</td>
                    </tr>
                    <tr>
                        <td>쿠폰할인</td>
                        <td>0원</td>
                    </tr>
                    <tr>
                        <td>적립금 사용</td>
                        <td>0원</td>
                    </tr>
                    <tr>
                        <td>배송비</td>
                        <td>0원</td>
                    </tr>
                    <tr>
                        <td>결제금액</td>
                        <td>80,000원</td>
                    </tr>
                    <tr>
                        <td>적립금액</td>
                        <td>8원</td>
                    </tr>
                    <tr>
                        <td>결제방법</td>
                        <td>핸드폰</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- 주문정보 -->
        <div id="oder_info">
            <h3 class="tt">주문 정보</h3>
            <div class="status"></div>
            <div class="od_info">
                <table class="tt">
                    <tr>
                        <td>주문 번호</td>
                        <td>16013671377337</td>
                    </tr>
                    <tr>
                        <td>주문자명</td>
                        <td>김은채</td>
                    </tr>
                    <tr>
                        <td>보내는 분</td>
                        <td>김은채</td>
                    </tr>
                    <tr>
                        <td>결제일시</td>
                        <td>2021.03.23 02:51:30</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>